# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs
logs/*
!logs/.gitkeep

# Cache
cache/*
!cache/.gitkeep

# Database
*.db
*.sqlite3

# OS
Thumbs.db
.DS_Store
